brotli==1.0.9; python_version >= "3.6"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3"
chart-studio==1.1.0
click==8.1.2; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
dash-core-components==2.0.0; python_version >= "3.6"
dash-html-components==2.0.0; python_version >= "3.6"
dash-table==5.0.0; python_version >= "3.6"
dash==2.3.1; python_version >= "3.6"
et-xmlfile==1.1.0; python_version >= "3.6"
flask-compress==1.11; python_version >= "3.6"
flask==2.1.1; python_version >= "3.7"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
importlib-metadata==4.11.3; python_version < "3.10" and python_version >= "3.7"
itsdangerous==2.1.2; python_version >= "3.7"
jinja2==3.1.1; python_version >= "3.7"
lxml==4.8.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
markupsafe==2.1.1; python_version >= "3.7"
multitasking==0.0.10
numpy==1.22.3; python_version >= "3.8"
openpyxl==3.0.9; python_version >= "3.6"
pandas==1.4.2; python_version >= "3.8"
plotly==5.7.0; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.1; python_version >= "3.8"
requests==2.27.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
retrying==1.3.3
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
tenacity==8.0.1; python_version >= "3.6"
urllib3==1.26.9; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
werkzeug==2.1.1; python_version >= "3.7"
yfinance==0.1.70
zipp==3.8.0; python_version < "3.10" and python_version >= "3.7"
